/* Styles were rendered in the order of top to bottom of the web page. */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Qwitcher+Grypen:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #cdc8f2;
  /* background-image: url(./assets/casino.png); */
  background-repeat: no-repeat;
  background-position: bottom -10rem left 0;
  background-size: 100% 90%;
  font-family: 'Karla', sans-serif;
  position: relative;
}

/* ==============HEADER============== */
.header {
  background: linear-gradient(#5035FF, #cdc8f2);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1.5rem 0;
}

.header--logo {
  width: 3rem;
  opacity: .8;
}

.header--title {
  color: #ddd9f7;
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 3rem;
  font-weight: 700;
}

/* ==============MAIN============== */
.tenzie {
  background: linear-gradient(#5035FF, #cdc8f2, #5035FF);
  background: linear-gradient(#cdc8f2, #5035FF, #cdc8f2);
  border-radius: 10px;
  box-shadow: 0 2px 10px #0B2434;
  display: flex;
  height: 379px;
  max-width: 360px;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .tenzie {
    margin: 2rem auto 0;
  }
}

.tenzie--cont {
  background: #ddd9f7;
  border-radius: 10px;
  box-shadow: 0 2px 10px #F5F5F5;
  width: 320px;
  height: 320px;
  margin: auto;
  padding: 1rem;
}

.tenzie--title {
  font-style: normal;
  font-weight: 700;
  font-size: 25.6px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #2B283A;
  margin-top: 1rem;
}

.tenzie--desc {
  font-style: normal;
  font-weight: 400;
  font-size: 13.1072px;
  line-height: 16px;
  display: flex;
  text-align: center;
  letter-spacing: -0.03em;
  color: #4A4E74;
}

.tenzie--error {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 13.1072px;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: red;
}

.tenzie--dice-section {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tenzie--grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  row-gap: 1rem;
}

.tenzie--die {
  box-shadow: 0px 2px 2px #5035FF;
  border-radius: 3.81277px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 20.5889px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  color: #2B283A;
  width: 35.84px;
  height: 35.84px;
}

.tenzie--btn {
  background: #5035FF;
  border: none;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16.384px;
  line-height: 19px;
  color: #FFFFFF;
  padding: .5rem 2rem;
  margin: 0 auto;
}

.tenzie--btn:focus {
    outline: none;
}

.tenzie--btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}


/* ==============FOOTER============== */
.footer--text {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(#cdc8f2, #5035FF);
  color: #ddd9f7;
  font-weight: 700;
  margin-top: 1rem;
  padding: .5rem 0;
  text-align: center;
}
